@model OrderPart

@{
    Layout = "~/Views/DefaultLayout.cshtml";
}

@{
    ViewData["Title"] = "Order for vehicle " + ViewBag.Vehicle;
}
<h2>@ViewData["Title"]</h2>
<br/>
<form asp-action="Create" asp-controller="OrderPart">
    <div>
        <div class="form-group">
            <label asp-for="Parts_Number">Parts Number:</label>
            <input type="text" asp-for="Parts_Number" class="form-control form-control-sm" />
        </div>
        <div class="form-group">
            <label asp-for="Part_Id">Part:</label>
            <select class="form-control" asp-for="Part_Id" asp-items="@ViewBag.PartsList"></select>
        </div>
        <input hidden asp-for="Order_Id" class="form-control">
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
</form>
 
<div>
    <a asp-action="Index" asp-controller="Order">Back to List</a>
</div>
